<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>RAF</title>
</head>
<h3>STI COLLEGE DAVAO</h3>
<p>506 J.P. Laurel Ave., cor. Acacia, Davao City
    <br> Tel. No.: 082 2220914 0r 305219
</p>
<body>
    
h3{
    text-align: center;
}
p{
    text-align: center;
}
table{

    width: 100%;
    text-align: center;
    border: 1px solid;
    border-collapse: collapse; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: .85em;

}

table.table1 td, table.table1 tr, table.table2 th{

    border: 1px solid;
    border-collapse: collapse;
    

}

table.table2{

    text-align: left;

}

table.table2 td{

    border-left: 1px solid;
    border-right: 1px solid;

}

#row1{

    text-align: left;

}

#row2{

    font-weight: bolder;

}

#row3{

    font-style: italic;

}

#row4{

    text-align: center;
    letter-spacing: 10px;

}

#row5{

    text-align: center;

}

#row5 th{

    font-weight: lighter;

}

#row5 th:nth-child(1){

    text-align: left;

}

#row10 td:nth-child(1){

    text-align: right;

}

#row10 td:nth-child(2){

    font-weight: bold;

}

table.table2 td:nth-child(2), table.table2 td:nth-child(4){

    text-align: center;

}
#row13{
    text-align: left;
}

<table class="1">
<tr id="row1">
    <td>Student Information</td>
    <td>SY & Term</td>
    <td>2324/2T</td>
    <td>Program:</td>
    <td>BSIT</td>
    <td>Year Level</td>
    <td>3Y2</td>
</tr>

<tr id="row2">
    
    <td>02000226635</td>
    <td colspan="2">Perol</td>
    <td colspan="2">Ember Glary</td>
    <td colspan="2">Balingway</td>
</tr>
<tr id="row3">
    <td>Student No.</td>
    <td colspan="2">Last Name</td>
    <td colspan="2">First Name</td>
    <td colspan="2">Middle Name</td>
</tr>

</table>
<table class="2">
<tr id="row4">
    <th>A C A D E M I C</th>
</tr>
</table>

<table class="3">
<tr id="row5">
    <td>Course Description</td>
    <td>Units</td>
    <td>Class No/Sec.</td>
    <td>Days</td>
    <td>Time</td>
    <td>Room</td>
    <td>Instructor</td>
</tr>
<tr id="row6">
    <td>System Integration and Architecture</td>
    <td>3.00</td>
    <td>20579/BSIT402</td>
    <td>M</td>
    <td>10:30PM - 12:30PM</td>
    <td>304</td>
    <td>Bantigue, Dominic Ramos </td>
</tr>
<tr id="row7">
    <td></td>
    <td></td>
    <td></td>
    <td>W</td>
    <td>11:00AM - 2:00PM</td>
    <td>COMLAB2</td>
    <td>Bantigue, Dominic Ramos </td>
</tr>
<tr id="row 8">
    <td>Great Books</td>
    <td>3.00</td>
    <td>20608/BSIT601</td>
    <td>TF</td>
    <td>12:00PM - 1:30PM</td>
    <td>401</td>
    <td>Saveron, Sittie </td>
</tr>
<tr id="row9">
    <td>Integrative Programming </td>
    <td>3.00</td>
    <td>20588/BSIT402</td>
    <td>TF</td>
    <td>6:00PM - 7:00PM</td>
    <td>101</td>
    <td>Migue, Clyde Anthony Ligan </td>
</tr>
<tr id="row10">
    <td></td>
    <td></td>
    <td></td>
    <td>Th</td>
    <td>8:00AM - 11:00AM</td>
    <td>COMLAB2</td>
    <td>Migue, Clyde Anthony Ligan </td>
</tr>
<tr id="row 11">
    <td>Management Information System</td>
    <td>3.00</td>
    <td>20601/BSIT601</td>
    <td>W</td>
    <td>2:00PM - 5:00PM</td>
    <td>303</td>
    <td>Ubas, Elvi Lito </td>
</tr>
<tr id="row12">
    <td> Systems Administration and Maintenance</td>
    <td>3.00</td>
    <td>18756/BSIT201</td>
    <td>F</td>
    <td>9:30AM - 11:30AM</td>
    <td>401</td>
    <td>Bandayanon, Charish</td>
</tr>
<tr id="row13">
    <td></td>
    <td></td>
    <td></td>
    <td>Th</td>
    <td>2:00PM - 5:00PM</td>
    <td>COMLAB1</td>
    <td>Bandayanon, Charish</td>
</tr>
<tr id="row14">
    <td>Web System and Technologies</td>
    <td>3.00</td>
    <td>20598/BSIT601</td>
    <td>W</td>
    <td>5:00PM - 7:00PM</td>
    <td>302</td>
    <td>Calija, Vincent Bryan</td>
</tr>
<tr id="row15">
    <td></td>
    <td></td>
    <td></td>
    <td>F</td>
    <td>2:00PM - 5:00PM</td>
    <td>COMLAB3</td>
    <td>Calija, Vincent Bryan</td>
</tr>
</table>
<table class="4">
<tr id="row18">
     <td>Total Units</td>
     <td>21.00</td>
    <th colspan="7">F I N A N C I A L</th>
</tr>
</table>
<table class="4">
<tr id="row19">
    <th colspan="2">Student Group:</th>
    <th >Tertiary - Cash</th>
    <th colspan="2">PAYMENTS AND OTHER ADJUSTMENTS</th>
    <th colspan="1.5"></th>
</tr>
<tr id="row20">
    <th colspan="2">CHARGES for 2023-2024/2nd Term</th>
    <td></td>
    <th colspan="2">SPONSORSHIP</th>
    <th colspan="1.5"></th>
</tr>
<tr id="row21">
    <td colspan="2">TUITION FEES</td>
    <td colspan="1.5">23,795.00</td>
    <td colspan="2">PAYMENTS</td>
    <td colspan="1.5">(2,000)</td>
</tr>
<tr id="row22">
    <td colspan="2">OTHER SCHOOL FEES</td>
    <td colspan="1.5">6,081.00</td>
    <td colspan="2">REFUND</td>
    <td colspan="1.5">-</td>
</tr>
<tr id="row23">
    <td colspan="2">MISCELLANEOUS FEES</td>
    <td colspan="1.5">3,145.00</td>
    <td colspan="2"></td>
    <td colspan="1.5">___________</td>
</tr>
<tr id="row24">
    <td colspan="2"></td>
    <td></td>
    <td colspan="2">NET BALANCE</td>
    <td colspan="1.5">31,021.00</td>
</tr>
<TR>
    <TD></TD>
</TR>
<tr id="row25">
    <td colspan="2"></td>
    <td colspan="1.5">_______________</td>
    <td colspan="2">UNAPPLIED PAYMENT FROM PREVIOUS TERM</td>
    <td colspan="1.5">(4,006.00)</td>
</tr>
<tr id="row26">
    <th></th>
    <th colspan="1.5">Total Assessment</th>
    <th colspan="2">33,021.00</th>
    <th colspan="1.5"></th>
    <th>___________</th>
</tr>
<tr id="row27">
    <td colspan="2"></td>
    <td></td>
    <th colspan="2">TOTAL CURRENT BALANCE</th>
    <td colspan="1.5">27,015.00</td>
</tr>
<tr id="row28">
    <td colspan="2"></td>
    <td colspan="2"></td>
    <td colspan="2"></td>
    <td colspan="2"></td>
</tr>
<tr id="row29">
    <th colspan="2">OTHER CHARGES AND ADJUSTMENTS</th>
    <td></td>
    <th colspan="2">PAYMENTS SCHEDULE</th>
    <th colspan="1.5"></th>
</tr>
<tr id="row30">
    <td colspan="2">SCHOLARSHIP /DISCOUNT</td>
    <td colspan="1.5">-</td>
    <td colspan="2"></td>
    <td colspan="1.5"></td>
</tr>
<tr id="row31">
    <td colspan="2">ADDITIONAL CHARGES</td>
    <td colspan="1.5">-</td>
    <td colspan="2">AMOUNT DUE</td>
    <td colspan="1.5"></td>
</tr>
<tr id="row32">
    <td colspan="2">CREDIT ADJUSTMENTS</td>
    <td colspan="1.5">-</td>
    <td colspan="2">UNAPPLIED PAYMENT</td>
    <td colspan="1.5">(4,006.00)</td>
</tr>
<tr id="row33">
    <td colspan="2"></td>
    <td colspan="1.5">___________</td>
    <td colspan="2">UPON ENROLLMENT</td>
    <td colspan="1.5">31,021.00</td>
</tr>

<tr id="row34">
    <th></th>
    <th colspan="1.5">Net Assessment</th>
    <th colspan="2">33,021.00</th>
    <th colspan="1.5"></th>
    <th>___________</th>
</tr>
</tr>
<tr id="row35">
<td colspan="2"></td>
<td></td>
<th colspan="2">TOTAL OUTSTANDING BALANCE</th>
<td colspan="1.5">27,015.00</td>
</tr>



</table>
<p style="text-align: left;"> You may access your student email account after three (3) working days. Your email credentials are:
<br> Email account/username: perol.226635@davao.sti.edu.ph
<br> Your password is PerolYYYYMMDD where YYYYMMDD is your birthdate
<br> e.g for Dec 31, 2018, YYYYMMDD is 20181231
</p>


</body>
</html>

